<h1>Hola Basi</h1>
<p>Hacé click en la opción que quieras ver</p>

<%= link_to 'Ver mi lista de clientes', clientes_path %>
<br>
<%= link_to 'Ver mi lista de productos', productos_path %>
<br>
<%= link_to 'Ver mis ventas', venta_path %>